* {
  margin: 0px;
  box-sizing: border-box;
}

.keyboard{
  margin: 20px;
  width: 280px;
  padding: 5px;
  background-color: black;
}

.response{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

#clear {
  width: 100px;
}

.bg{
  background-image: linear-gradient(to bottom, rgb(24, 170, 43), rgb(30, 197, 175));
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin-top: 0px;
}

.input {
  height: 70px;
  width: 280px;
  background-color: lightslategray;
  color: #fff;
  font-size: 24px;
  border: 1px solid rgb(55, 124, 103);
  padding: 4px;
  border-radius: 10px;
  outline: none;
}

.heading {
  margin-bottom: 30px;
  color: #fff;
  font-size: 32px;
  font-family: 'Gill Sans';
}

.history{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items{
  border: 1px solid rgb(207, 114, 184);
  width: 250px;
  margin: 4px;
  color: #fff;
}

.black-button{
  background-color: rgb(21, 24, 23);
  border: none;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  margin: 15px;
}
.clear-button{
  color: #fff;
  background-color: aquamarine;
  border: none;
  padding: 10px;
  border-radius: 6px;
}

.caption{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}